.quartos-container {
    width: 99vw;
    min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .quartos-title {
    margin: 32px 0 24px 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .quartos-table {
    border-collapse: collapse;
    width: 80vw;
    max-width: 1100px;
    background: #e5e5e5;
    margin-bottom: 32px;
  }
  
  .quartos-table th, .quartos-table td {
    border: 1px solid #fff;
    padding: 10px 10px;
    text-align: center;
    font-size: 1.1rem;
  }
  
  .quartos-table th {
    background: #e5e5e5;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .quartos-table td {
    background: #e5e5e5;
    height: 48px;
  }
  
  .btn-trash, .btn-image {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    color: #000;
    transition: color 0.2s;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 12px;
    height: 40px;
    width: 40px;
  }
  
  .btn-trash:hover {
    color: #c00;
  }
  
  .btn-image:hover {
    color: #007bff;
  }
  
  .btn-add {
    margin-top: 12px;
    padding: 12px 28px;
    background: #e5e5e5;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    margin-bottom: 30px;
  }
  
  .btn-add:hover {
    background: #d4d4d4;
  }

  /* Responsividade para telas menores */
@media (max-width: 1070px) {
  .quartos-table {
    width: 84vw;
  }
  .quartos-title {
    font-size: 2rem;
  }
  .quartos-table th, .quartos-table td {
    padding: 5px 15px;
    font-size: 0.9rem;
  }
}

@media (max-width: 950px) {
  .quartos-table {
    max-width: 75vw;
  }
  .quartos-title {
    font-size: 1.4rem;
  }
  .quartos-table th, .quartos-table td {
    padding: 5px 15px;
    font-size: 0.8rem;
  }
}

@media (max-width: 850px) {
  .quartos-table {
    max-width: 85vw;
  }
  .quartos-title {
    font-size: 1.3rem;
  }
  .quartos-table th, .quartos-table td {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
}

@media (max-width: 765px) {
  .quartos-table {
    max-width: 80vw;
  }
  .quartos-title {
    font-size: 1.2rem;
  }
  .quartos-table th, .quartos-table td {
    padding: 4px 13px;
    font-size: 0.6rem;
  }
  .quartos-table td {
    background: #e5e5e5;
    height: 35px;
  }

  .btn-trash, .btn-image {
    padding: 0;
    margin: 0 12px;
    height: 3px;
    width: 3px;
  }
}

@media (max-width: 665px) {
  .quartos-table {
    max-width: 75vw;
  }
  .quartos-title {
    font-size: 1.1rem;
  }
  .quartos-table th, .quartos-table td {
    padding: 1px 5px;
    font-size: 0.6rem;
  }
  .quartos-table td {
    background: #e5e5e5;
    height: 30px;
  }

  .pagination-btn {
    border-radius: 6px;
    padding: 8px 13px;
    font-size: 0.6rem;
  }
  .pagination {
    gap: 8px;
    margin: 2px 0;
  }
}

@media (max-width: 580px) {
  .quartos-table {
    max-width: 70vw;
  }
  .quartos-title {
    font-size: 1rem;
  }
  .quartos-table th, .quartos-table td {
    padding: 1px 5px;
    font-size: 0.5rem;
  }
  .quartos-table td {
    background: #e5e5e5;
    height: 26px;
  }
}


@media (max-width: 530px) {
  .quartos-table {
    max-width: 70vw;
  }
  .quartos-title {
    font-size: 1rem;
  }
  .quartos-table th, .quartos-table td {
    padding: 1px 5px;
    font-size: 0.5rem;
  }
  .quartos-table td {
    background: #e5e5e5;
    height: 23px;
  }

  .pagination-btn {
    border-radius: 6px;
    padding: 3px 6px;
    font-size: 0.5rem;
  }
  .pagination {
    gap: 8px;
    margin: 2px 0;
  }
}

@media (max-width: 495px) {
  .quartos-table {
    max-width: 55vw;
  }
  .quartos-title {
    font-size: 0.8rem;
  }
  .quartos-table th, .quartos-table td {
    padding: 1px 5px;
    font-size: 0.42rem;
  }
  .quartos-table td {
    background: #e5e5e5;
    height: 20px;
  }
}

@media (max-width: 420px) {
  .quartos-table {
    max-width: 50vw;
  }
  .quartos-title {
    font-size: 0.8rem;
  }
  .quartos-table th, .quartos-table td {
    padding: 1px 5px;
    font-size: 0.39rem;
  }
  .quartos-table td {
    background: #e5e5e5;
    height: 18px;
  }
}

@media (max-width: 395px) {
  .quartos-table {
    max-width: 45vw;
  }
  .quartos-title {
    font-size: 0.8rem;
  }
  .quartos-table th, .quartos-table td {
    padding: 1px 3px;
    font-size: 0.39rem;
  }
  .quartos-table td {
    background: #e5e5e5;
    height: 12px;
  }
}